{
  "branches": [
    "prod/v1.0.0",
    {"name": "main", "channel": "beta"},
    {"name": "test/v1.0.0", "prerelease": "rc"}
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
} 